@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: bisque;
}

h1 {
    padding-top: 25px;
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
}

.form {
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
